.container{
    width: 50%;
    background-color: #eee;
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    gap: 3px;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#tasksdiv{
    width: 50%;
    position: absolute;
    left: 50%;
    top: 17%;
    transform: translateX(-50%);
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.container .newTaskBtn{
    background-color: red;
    border: none;
    color: white;
    padding: 10px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    cursor: pointer;
}

input{
    border: 1px solid #aaa;
    border-radius: 2px; 
    width: 350px;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}
.task {
    transition: opacity 0.5s ease;
}
.done {
    opacity: 0.4;
}
